<h3>Unable to complete Payment!</h3>
<p>
  This is just to let you know that we could not process your order due to payment failure:
</p>
<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <%= render @order.line_items %>
</table>